/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  body {
    
    background-image: url('../images/black.jpg');
  }
  .general{
    margin: auto;
    margin-top: 25px;
    width: 1200px;
 
  }
  .titulo{
   
    left: 0;
    font-size: 18px;
    font-weight: bold;
    font-family:  Tahoma, sans-serif;
  }
  .sisfass {
  top: 40%;
  right: 15%;
  position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	
	font-style: italic;
	font-size: 8em;
	opacity: 0.1;
	cursor: default;
  }
  .r{
    right: 0%;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin: 2px;
  }
  .scroll{
    height:250px;
    width: 400px;
    overflow-y: auto;
    margin-top: 10px;
  }

  input[type=text] {
    background-color: #f1f1f1;
    width: 50%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  img{
    position: fixed;
    left: 100px;
    top:400px;
  }
  h1,h2,h3{
    color: #fff;
    
  }
  p{
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family:  Tahoma, sans-serif;

   }

  /* fin base */

  .botones{
    float: left;
    width: 20%;
  
  }
  .resultados {
    width: 60%;
    float: right;
  
  }
  .tablas{
    width: 45%;
    float: right;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: #ffffff;
  }
  th,caption{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: bold;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
  }
  .btn{
    float: left;
    color: #fff;
  }
  #volver{
    text-decoration: none;
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    padding: 10px;
  }
  .buscar{
    float: left;
    width: 50%;
  }
  .enviado{
    float: right;
    width: 35%;
  }

  .resultados-2{
    width: 30%;
    float: right;
  
  }
  .tabla{
    width: 60%;
    float: left;
    margin-top: 50px;
    margin: 2px;
   
  }
  .medicos{
    margin-top: 30px;
  }
  .busqueda{
    margin-bottom:  30px;
  }
  .scroll-2{
    height:500px;
    overflow-y: auto;
    margin-top: 10px;
  }

  .botones button{
    background-color: #808080; 
    color: white; 
    padding: 15px 15px; 
    cursor: pointer; 
    width: 80%; 
    display: block; 
    font-size: 15px;
    font-weight: bold;
    margin: .5em;
    border: none;
    
  }
  .savebtn {
    background-color: #4CAF50;
    color: rgb(248, 248, 248);
    padding: 20px 20px;
    margin:10px;
    border: none;
    cursor: pointer;
    width: 30%;
 
   
  }
  .savebtn:hover {
    opacity: 0.8;
  }
  .cancelbtn{
    background-color: red;
  }
  .registro{
    position: fixed;
    left: 500px;
    top: 100px;
    max-width: 350px;
    padding: 10px;
    background-color: gray;
    
    
  }
  .registro input[type=text]{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   
  }

  .especial{
    position:absolute;
    bottom:5px;
    right:10px;
  }
  .botones button:hover {
    background-color: #999999;
  }

  .multiselect {
    width: 200px;
  }
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  /* Analisis */
  #checkboxes {
    display: none;
   color:#fff;
   font-size: 15px;
   float: right;
   margin-top: 5px;
  }
  .lbtn{
    color: white;
    padding: 13px;
    font-size: 15px;
    background-color: #2196F3;
    border: none;
  }
  .btn{
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    background-color: gray;
  }
  .btn:hover{
    background-color:#ccc;
    cursor: pointer;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  select{
      font-size: 20px;
      color:black;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* Fin Analisis */